body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin: 0;
    padding: 0;
}

.light {
    background-color: #fffcf7;
    color: #000000;
}

.dark {
    background-color: black;
    color: white;
}

header {
    background-color: #FCCD04;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
}

nav {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li a:hover {
    background-color: #fffcf7;
    color: #FCCD04;
    padding: 20px;
}

#toggleButton {
    background-image: url(images/toggle.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 60px;
    background-position: center;
    border: none;
    background-color: #FCCD04;
    cursor: pointer;
}

main {
    padding-top: 70px;
    padding-left: 20px;
    margin: 20px;
}

h1 {
    color: #A64AC9;
}

section {
    min-height: 100vh;
    padding-top: 70px;
    padding-left: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 20px;
    margin: 20px;
}