body {
    background-color: #fffcf7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #000000;
    margin: 0 0;
    padding: 0 0;
}

header {
    margin: 0 0;
    padding: 0 0;
}

nav {
    background-color: #FCCD04;
    color: white;
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    position: fixed;
}

nav > ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 20px;
    margin: 20px;
}

li a:hover {
    background-color: #fffcf7;
    color: #FCCD04;
}

main {
    padding-top: 70px;
    padding-left: 20px;
    margin: 20px;
}

h1 {
    color: #A64AC9;
}

section {
    min-height: 100vh;
    padding-top: 70px;
    padding-left: 20px;
    margin: 20px;
}

footer {
    padding: 20px;
    margin: 20px;
}